body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	background: rgb(201, 201, 201);
	overflow-x:hidden;
}

html {
	scroll-behavior: smooth;
  }

#jumbotron{
	position: relative;
	background: url("../images/ibm.jpeg");
	height:758px;
	width:100%;
}

#about h1{
	position: relative;
	top:100px;
}

#portfolio h1{
	position: relative;
	top:100px;
}

* {
	box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav a {
  color: #666;
}

h1,h2,h3,
p {
	margin-bottom: 20px;
}

#about{
	background-color: white;
	height:760px;
	width:100%;
}

#portfolio{
	height:725px;
	width:100%;
}

#contact{
	background-color: white;
	height:490px;
	width:100%;
}

h4{
	position:relative;
	top:300px;
	left:430px;
	font-size:50px;
	color:white;
	text-shadow: 1px 1px 1px #006699
}

.view{
	position: relative;
	top:300px;
	left:660px;
	font-size:25px;
	padding:10px;
	background:#006699;
	text-shadow: 1px 1px 1px#666;	
	color:white;
	cursor:pointer

}

.view:hover, .submit:hover{
	opacity: 0.8;
	color:orange;
}

.view:hover:after{
	content: ' \2193';
	padding-right:12.5px;
}

.view:after {
    content: ' \2192';
}

.button{
	position: relative;
	left:120px;
	top:100px;
	padding: 10px 30px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	background: #006699;
	border-color:black;
	font-style: italic;
}

.button:hover{
	color:orange;
}



h1,h2 {
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align:center;
	font-weight: 700;
	color: #006699;
}

h1 {
	padding-bottom: 20px;
	font-size: 30px;
	line-height: 49px;
	text-decoration:underline;
	text-decoration-color: orange;
}

h2 {
	font-size: 22px;
}

#main-head {
	position: fixed;
	z-index: 99;
	width: 100%;
	margin: 0 0 30px;
	color: #fff;
	background: #666;
	border-bottom: 2px solid #006699;
}

nav {
	float: left;
	margin-top: 10px;
	margin-bottom:10px;
	transition: .5s ease;
	top: -50px;
}

nav a {
	display: inline-block;
	position: relative;
	left:150px;
	padding-left: 20px;
	margin-left: 15px;
	line-height: 30px;
	color:white;
	text-shadow: 1px 1px 1px #006699
	text-decoration: none;
	border-left: 2px solid #006699;
}


footer {
	clear: both;
	height: 175px;
	font-size: 12px;
	color: #fff;
	color: #ccc;
	text-align: center;
	background: #666;
	border-top: 8px solid #006699;
}


h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid #eee;
}

.social {
	position: relative;
	top: 30px;
	width: 62px;
	height: 62px;
	margin-top:-10px;
	margin-right: 5px;
	margin-bottom:25px;
	opacity: 0.8;
	border:solid;
	border-color:white
}

.social:hover{
	border-color:orange;
}

.social:last-child {
	margin-right: 0;
}

.main-section {
	float: left;
	margin: 0 0 40px;
	background: rgb(201, 201, 201);

}

/* portfolio page */

.fitymit, .derive, .crush, .trivia, .starwars, .hangman {
	position: relative;
	float: left;
	width: 400px;
	overflow: auto;
	left:170px;
	top:120px;
	padding-top:0;
	overflow-x:hidden;
}

.fitymit img, .derive img, .crush img, .trivia img, .starwars img, .hangman img {
	width: 100%;
	height:225px;
	border: 0 none;
	opacity: 0.8;
}

.fitymit h3, .derive h3, .crush h3, .trivia h3, .starwars h3, .hangman h3  {
	position: absolute;
	top:30px;
	width: 100%;
	padding: 25px;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 10px;
	border-bottom: 0;
	font-size: 35px;
	font-weight: bolder;
	color:black;
	font-style: oblique;
}

.trivia, .starwars, .hangman{
	top:109px;
}

.fitymit h6, .derive h6{
	position: relative;
	left:40px;
	top:60px;
	font-size:25px;
	color:orange;
}

.crush h6{
	position: relative;
	left:50px;
	top:60px;
	font-size:25px;
	color:orange;
}

.trivia h6, .starwars h6, .hangman h6 {
	position: relative;
	left:90px;
	top:60px;
	font-size:25px;
	color:orange;
}

.mypic {
	position: relative;
	left: 200px;
	top:80px;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	border-radius: 50px;
}

p{
	position: relative;
	left: 250px;
	top:100px;
	width: 1050px;
	font-weight: 600;
	
}

.smu, .unt{
	position: relative;
	height:50px;
	width:auto;
}

.unt{
	left:450px;
	top:95px;
}

.smu{
	left:400px;
	top:110px;
	height:80px;
}
/* contact page */

#contact-form ul {
	margin-bottom: 20px;
	width:500px;
	margin-left:300px;
	position: relative;
	left:225px;
	
}

#contact-form li {
	margin-bottom: 10px;
}

label,input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],input[type=email],
textarea {
	height: 35px;
	padding: 0 10px;
	font-size: 17px;
	border: 1px solid black;
	background-color: rgb(201, 201, 201);
	
}

textarea {
	height: 200px;
}

input[type=submit] {
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: #006699;
	border: 0 none;
	position: relative;
	left:916px;
}

.home:hover, .about:hover, .portfolio:hover, .contact:hover{
	color: orange;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgb(201, 201, 201);
  }
  
  .fitymit:hover .overlay {
	opacity: 1;
  }

  .derive:hover .overlay {
	opacity: 1;
  }

  .crush:hover .overlay {
	opacity: 1;
  }

  .trivia:hover .overlay {
	opacity: 1;
  }

  .starwars:hover .overlay {
	opacity: 1;
  }

  .hangman:hover .overlay {
	opacity: 1;
  }
  
  h3 {
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	
  }
  
